:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary-color: #FFD700;
  --container-width: 1200px;
  --horizontal-padding: 1.25rem; /* 20px */
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: var(--container-width);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
  margin: 0 auto;
}
